$mobile-min-width: 320px;
$mobile-max-width: 739px;
$tablet-min-width: 740px;
// $desktop-min-width: 1260px; //main 
$desktop-min-width: 1100px; //temporary

$header-text-color: #fff;
$top-bar__height: 46px;

// #region main-text
$main-font-size: 16px;
$main-text-color: #161616;

// #endregion main-text

$main-red-color: #d12d35;

$effect-Duration: 0.3s;